@charset "utf-8" ;
.banner{position: relative;left:0;top:.6rem;overflow: hidden; width: 3.75rem;height:2.8rem;}
.banner ul li{width:3.75rem;height:2rem;float:left;}
.banner ul li img{ display:block;width:3.75rem; height:2rem;}
.text-box{width:3.75rem; padding:0.08rem;height:.4rem; position:absolute; left:0; bottom:0rem; color:#fff; background: rgba(0,0,0,0.5);}
.text-box h4{ font-size:0.18rem; font-weight:normal;}
.text-box p{font-size:0.18rem;}